.navbar {
    background-color: #333;
    color: #fff;
    padding: 1px 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  .nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .nav-list li {
    margin-right: 20px;
  }
  
  .nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    
    transition: color 0.3s;
    
  }
  
  .nav-list a:hover {
    color: #ffcc00;
  }

  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-radius: 4px;
  }
  
  .search-bar button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
  }
  
  .search-bar button:hover {
    background-color: #45a049;
  }

  .logo img{
    width:100px;
    
  }